

body {
  background: rgb(181,33,165);
  background: radial-gradient(circle, #b521a5a8 51%, #7300ff95 98%);
  font-family: 'Raleway', sans-serif;
  color: #333;
}

#kitten {
  position: absolute;
  left: calc(50% - 200px);
  top: calc(50% - 450px);
}
#kitten #kitten-image {
  width: 490px;
  height: 490px;
  background-image: url("./res/kitty.png");
  background-repeat: no-repeat;
  background-size: contain;
}
h2 {
  color: #333;
  margin-bottom: 12px;
  font-size: 18px;
}
#energy-bar {
  height: 40px;
  width: 400px;
  background-color: #aaa;
  border-radius: 30px;
  margin-bottom: 50px;
  box-shadow: 0px 2px 7px rgba(0,0,0,0.3);
  border: solid 2px #31323d;
}
#energy-bar i {
  width: 0%;
  background-color: #cf5be8;
  height: 40px;
  display: inline-block;
  border-radius: 30px;
  -webkit-transition: width 2s ease-in-out;
  -moz-transition: width 2s ease-in-out;
  -o-transition: width 2s ease-in-out;
  transition: width 2s ease-in-out;
}
#actions a {
  text-decoration: none;
  background-color: #cf5be8;
  padding: 12px 32px;
  border-radius: 30px;
  display: inline-block;
  margin-top: 10px;
  box-shadow: 0px 2px 7px rgba(0,0,0,0.3);
  color: #31323d;
  font-weight: 700;
  border: solid 2px #31323d;
  font-size: 16px;
}
#actions a:last-of-type {
  margin-left: 62px;
}
#account {
  margin-bottom: 40px;
}
.account-data {
  display: flex;
  margin-bottom: 8px;
}
.account-data p {
  min-width: 80px;
  margin: 0;
}
.account-data h4 {
  margin: 0;
  color: #31323d;
  font-size: 18px;
}


.speech-bubble {
  display: none;
  position: absolute;
  top: calc(50% - 550px);
	background: #31323d;
  border-radius: 60px;
  margin-bottom: 60px;
  width: 300px;
  color: #fff;
  padding: 32px;
  font-weight: 700;
  text-align: center;
}
.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 16px solid transparent;
  border-top-color: #31323d;
	border-bottom: 0; 
	margin-left: -16px;
	margin-bottom: -16px;
}